@charset "ISO-8859-1";
body {
  background-color: #151515;
  font-family: Calibri, sans serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
h1,
h2 {
  color: #fdca52;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
}
.content {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 2%;
}
.vComunidad,
.vPlataforma {
  width: 850px;
}
form {
  display: flex;
  flex-direction: column;
}
a,
button,
input[type="submit"] {
  text-decoration: none;
  background-color: #3b3b3b;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 15px;
}
ul,
ol {
  list-style-type: none;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.videojuegos li {
  background-color: #202020;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  overflow: hidden;
  max-width: 140px;
  padding: 10px;
}
.videojuegos li img {
  width: 200px;
  height: 100px;
  position: relative;
  top: -10px;
  left: -25px;
}
label {
  margin-top: 10px;
}
input,
select,
textarea {
  background-color: #9f9f9f;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.error {
  color: #fc4b37;
}


#detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
  margin-top: 30px;
}
#detalle > div {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 25px;
  margin-bottom: 20px;
}
#detalle h1 {
  margin-top: -10px;
}
#detalle ul,
#detalle ol {
  margin-left: -20px;
}
#detalle ol li {
  display: inline-block;
  border-radius: 5px;
  margin: 3px;
}
#detalle img {
  width: 60%;
  border-radius: 15px;
}
#detalle span {
  color: #fdca52;
}
.resenas {
  margin-top: -10px;
}
.resenas li {
  background-color: #202020;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  overflow: hidden;
  max-width: 180px;
  padding: 10px;
}
.paginador {
  display: flex;
  justify-content: center;
  gap: 2px;
}
.paginador a {
  padding: 8px;
}